.e29-custom-icon {
	--e29-icon-color: currentColor;
	--e29-icon-size: 24px;
}

.e29-custom-icon::before {
	content: '';
	display: block;
	background: var(--e29-icon-color);
	width: var(--e29-icon-size);
	height: var(--e29-icon-size);
	-webkit-mask-image: var(--e29-custom-icon-path);
	-webkit-mask-size: cover;
	mask-image: var(--e29-custom-icon-path);
	mask-size: cover;
}